
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150vh;
    min-height: 70vh;
    background: url(image5/student_regpic.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


body h1 {
    text-decoration: double;
    text-align: center;
    width: 550px;
    background: transparent;
    color: blueviolet;
    font-size: 36px;
    text-align: left;
    font-weight: bold;
}

